version: "3.8"

services:
  app:
    container_name: "express-app"
    build: .
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      MONGO_USERNAME: root
      MONGO_PASSWORD: example
      MONGO_DBNAME: mydb
      MONGO_HOST: mongo
      JWRT_SECRET: cd3b82c4179e4d536985ca7ec4bf900d0ce35dee7869e347a777ffd532227284c951a982ef355a1193dd3716496bb3f8c20be122e7e0cd53907fb453f5c78288
  mongo:
    image: mongo:latest
    container_name: "mongo"
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: mydb
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
